TWILIO_ACCOUNT_SID=ACbxxxxxxxxx
TWILIO_AUTH_TOKEN=e66xxxxxxxx
GOOGLE_SERVICE_ACCOUNT_PATH=credentials/service-account.json
GOOGLE_SHEET_NAME=Customer Feedback details form (Responses)
FROM_WHATSAPP_NUMBER=whatsapp:+9170xxxxxxxx
BIRTHDAY_TEMPLATE_SID=HX83xxxxxxxxxx
ANNIVERSARY_TEMPLATE_SID=HX5xxxxxxxxxxxxxxxx
BOTH_TEMPLATE_SID=HX3bxxxxxxxxxxx
